<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kyrgyzstan</title>
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="./tours.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="shortcut icon" href="../components/parmir__logo.png">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" -->
  <!-- integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://unpkg.com/accordion-js@3.3.0/dist/accordion.min.css">
  <title>accardion</title>
  <script src="https://unpkg.com/accordion-js@3.3.0/dist/accordion.min.js" defer></script>

  <script src="../burger.js" defer></script>
  <script defer src="../calc.js"></script>

</head>

<body>
  <header  id="result" class="header header__scroll">
      
    <div class="before">
        <a href="../main.html" class="bef__parent" style="transform: skew(40deg);"  ><img src="../components/parmir__logo.png" alt="" class="header__logo"></a>
    </div>
<!-- <img class="planeta" src="./components/image.psd.png" height="200px" alt=""> -->
<button class="burger__btn" id="burger">
    <span class="one"></span><span class="two"></span><span class="three"></span>
</button>
<nav class="header__nav">
  <a href="../main.html" class="header-menu">Home</a>
  <a href="../kyrgyzstan.html " class="header-menu active-menu">Tours</a>

    <a href="../contact.html" class="header-menu">Contacts</a>
    <a href="../gallery.html" class="header-menu">Gallery</a>
    <a href="#" id="rec">Website made by  <span><strong>It</strong><b>Park </b></span> Academy</a>

</nav>
</header>
  <div class="nice">
    <img src="../components/gal.png" alt="nice">
    <h1>Done!</h1>
  </div>
  <a class="fix__animation" id="fix">get in touch</a>
  <div class="fix__menu">
    <button id="close__fix"><span></span><span></span></button>
    <form class="fix__form">
      <input type="text" name="" placeholder="Введите свое имя" id="">
      <input type="text" name="" placeholder="Введите свой тел. номер" id="">
      <input type="text" name="" placeholder="Введите свой email" id="">
      <textarea name="" id="" cols="30" placeholder="Напишите что нибудь" rows="6"></textarea>
      <input id="adds" class="form__btn" type="button" value="ОТПРАВИТЬ">
      <!-- <img src="./icons/tyre.png" alt=""> -->
    </form>
    <!-- <h3>Оставте свои данные</h3> -->
    <video class="bacg__vid" src="../components/bacg.mp4" autoplay loop muted></video>

  </div>
  <h1 class="zagolovok__marsh">10 day in Kyrgyzstan</h1>

  <main class="mainskiy">
    <button class="price" id="price"></button>

    <section class="accc">





      <body>
        <section class="accordion">
          <ul class="accordion__list" id="accordion">
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 1: Bishkek - Burana Tower - Cholpon-Ata</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/Burana.jpg" alt="">
                </div>
                <p>
                  <b class="km">The route is about 70 km</b>
                  <br>
                  <b>Burana Tower</b> is an 18th-19th century minaret of the Karakhanid state in the Chui Valley in
                  northern Kyrgyzstan.
                  valley in northern Kyrgyzstan. Burana Tower is located 80km from Bishkek, 12km south-west of the city
                  of Toktogul.
                  12 km south-west of the town of Tokmak. Burana Tower is a part of the
                  architectural and archaeological museum and is protected by the state as a
                  cultural-historical heritage. It is one of the
                  Burana Tower is part of an archaeological and architectural museum in the Kyrgyz Republic.
                  The tower is 21 metres high and 9 metres in diameter.
                  <br>

                  <br>
                <div class="image__parent">
                  <img src="../components/Cholpon-Ata.jpg" alt="">
                </div>
                <br>
                <b> Cholpon-Ata (petroglyphs)</b>
                The petroglyphs of the Cholpon Ata tract are located between the northern, western and
                north-western outskirts of Cholpon-Ata city. In an area 4km long from east to west and 4km wide in
                width.
                east-west, 4km long and 0.6-2km wide are tens of thousands of stones,
                The subjects and images of the paintings are varied, but the dominant ones are of animals: goats,
                arrows, arrows on the roof.
                animals: goats, argali, deer, bulls, horses, dogs, wolves, etc,
                wolves, etc.
                In general, the petroglyphs of Cholpon-Ata are dated from the 2nd millennium BC to the 8th AD.
                AD-8th century. Overnight stay in Cholpon-Ata guest house
                </p>
              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 2. Cholpon-Ata - Chon-Oruktu hot spring - Karakol</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/Karakol.jpg" alt="">
                </div>

                <p>
                  Cholpon-Ata is the most famous resort town on the lake shore
                  Issyk-Kul. The best time to visit Cholpon-Ata
                  from mid-June to September.Then it 's warm enough , and you can
                  feel all the delights of the mountain-sea climate. . Blue-turquoise
                  the color of the lake's surface and spectacular snow-capped peaks create a fabulous
                  landscape area. Issyk-Kul is considered the second largest lake in the world,
                  located in mountainous areas (after Lake Titicaca).
                  Issyk-Kul region is rich in beautiful places and unusual phenomena.
                  One of them is the hot mineral springs in the village of <b>Chon-Oruktu</b>.
                  The water here has amazing miraculous properties.
                  Repeated studies of its composition in the laboratory have proved,
                  that it is recommended for use in diseases and disorders in
                  the work of the nervous system, liver (cholecystitis, gastritis) and skin
                  disease .The water temperature is 48 degrees . Designed for drinking
                  so for bathing. For lovers of the mountains, Karakol will be considered ideal
                  a place of active recreation. A few kilometers from the city is located
                  ski base <b>Karakol</b> The overnight stay will be in the guest house.
                </p>
              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 3 Karakol Jety-oguz-Fairy Tale Canyon – Hadji-Sai</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/dream.jpg" alt="">
                </div>

                <p>
                  <b class="km">Jety-Oguz is located 25 km from the city of Karakol.</b>
                  <br>

                  Gorge <b>Jety-Oguz</b> is one of the most beautiful places in Kyrgyzstan, the second
                  mountain section of the Issyk-Kul Nature Reserve. One of the notable
                  The rock is the famous Broken Heart, the place of the present
                  pilgrimages of lovers.
                </p>

                <div class="image__parent">
                  <img src="../components/skazka.jpg" alt="">
                </div>

                <p><b>Fairy tale canyon</b><br>
                  Fairy Tale Canyon is located on the southern shore of Lake Issyk-Kul. Yellow orange and red canyon
                  rocks
                  arranged in fancy patterns,
                  creating a truly fabulous landscape, hence the name of the canyon. Canyon
                  it was formed as a result of erosion of sandstone and red clay. With more
                  The blue expanse of Lake Issyk-Kul is visible from the high cliffs of the canyon.
                  A walk in the Fairy Tale Canyon.</p>
                <br>
                <div class="image__parent">
                  <img src="../components/kadjy.jpg" alt="">


                </div>
                <br>
                <p> <b>Kaji-Sai</b> is a small village on the southern shore of Issyk-Kul,
                  It is located 270 km from Bishkek and 120 km from Karakol. Boarding houses,
                  hotels and cafes are located along the highway near the shore. The landscape is very
                  beautiful, especially colorful mountains. Overnight at the hotel.</p>
              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 4. Kaji-Sai – Naryn</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/Naryb.jpg" alt="">
                </div>

                <p>
                  Naryn region is located in the central part of Kyrgyzstan. Area
                  it is a mountainous region with a difficult terrain, located at an altitude of
                  1500 m above sea level, about 70% of its territory is occupied by mountainous
                  ridges. Naryn is ideal for long trips; tracking,
                  cycling, as well as for traveling by car. Naryn region
                  attracts tourists with its untouched nature. Overnight in Naryn.
                </p>
              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 5. Naryn-Tash-Rabat-Chatyr kol</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">

                <div class="image__parent">
                  <img src="../components/Таш-Рабат.JPG" alt="">
                </div>
                <p>
                  <b>Tash – Rabat</b> is an ancient caravanserai located on
                  the territory of At–Bashinsky district, Naryn region, Kyrgyzstan
                  ,near the border with China, located at an altitude of 3500 m above sea level
                  the sea. Tash-Rabat was built in the 15th century.
                </p>
                <div class="image__parent">
                  <img src="../components/chatyr.jpg" alt="">
                </div>
                <p><b>Chatyr-Kel</b> is a high–altitude lake located in the inner Tien Shan.
                  The height of the lake above sea level is 3530.2 meters. The length of the lake is 23 km, width
                  11 km, the average volume of water is 8.5 km. The water is clean, clear and very cold.
                  The nature of the lake is unique and picturesque, red marmots live here, mountain
                  goats and snow leopards, and is also known as a wintering place for several
                  breeds of wild birds. Overnight in Tash-Rabat guest house.</p>
              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 6. Tash – Rabat – Baetov - Moldo – Pass-Son-Kul.</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/Song-Kul-Day.jpg" alt="">
                </div>
                <p>
                  In the morning after breakfast departure to Son-Kul via Baetov and Moldo-Ashu
                  Son-Kul is a large alpine lake, located in the Naryn region.
                  It lies at an altitude of 3016 m above sea level and is in the second largest
                  the largest lake in Kyrgyzstan. The lakes are fresh and quite deep
                  the maximum depth of the lake is 14 meters, the width is 18 km, and the length is 28 km.
                  The area around the lake is very picturesque, especially in summer..
                  Walking on the Son-Kul lake. For the hardened, we offer bathing in
                  refreshing cold waters of the lake. Those who wish can go horseback riding
                  walking among the steppe-covered mountains. Overnight in yurts.
                </p>
              </div>
            </li>
            </li>
            <li class="accordion__item ac">

              <div class="accordion__top">
                <h3>Day 7. Son- Kul – Chaek – Kyzyl-Oh</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/Kol-Tor-lake-3.jpg" alt="">
                </div>
                <p>
                  In the morning after breakfast departure to Son-Kul via Baetov and Moldo-Ashu
                  Son-Kul is a large alpine lake, located in the Naryn region.
                  It lies at an altitude of 3016 m above sea level and is in the second largest
                  the largest lake in Kyrgyzstan. The lakes are fresh and quite deep
                  the maximum depth of the lake is 14 meters, the width is 18 km, and the length is 28 km.
                  The area around the lake is very picturesque, especially in summer..
                  Walking on the Son-Kul lake. For the hardened, we offer bathing in
                  refreshing cold waters of the lake. Those who wish can go horseback riding
                  walking among the steppe-covered mountains. Overnight in yurts .
                </p>
              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 8 Suusamyr-Toktogul-Kok Bel</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/toktogul.jpg" alt="">
                </div>
                <p>
                  <b>Toktogul</b> is an urban-type settlement located in the Jalal-Abad region
                  Kyrgyzstan. There is a hydroelectric power station in Toktogul, the largest power plant in Kyrgyzstan.
                </p>
                <div class="image__parent">
                  <img src="../components/kok-bel-01.jpg" alt="">
                </div>
                <p>Recreation center <b>The cable</b> is located on the coast of Toktogulsky
                  reservoirs.
                  On the territory of <b>Cable</b> there are cottages to accommodate guests, as well as
                  conference hall , swimming pool and dance floor. Overnight at the guest house.</p>
              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 9 Kok-Bel-Sary-Chelek</h3>
                <button class="accordion__btn" id="
            ">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/Сары-Челек.JPG" alt="">
                </div>
                <p>
                  In the morning after breakfast we leave for <b>Sary-Chelek</b>
                  <b>Sary-Chelek</b>- a picturesque high-altitude reservoir, which is considered one
                  one of the most beautiful lakes in the west of Kyrgyzstan .The freshwater lake lies at
                  an altitude of 1848 meters above sea level. Tourists come to Sarychelek Lake to admire
                  beautiful landscapes, the purest lake
                  with water, to climb mountains, to fish, and also to help
                  wild raspberry berries. Overnight at the guest house.
                </p>

              </div>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 10 Sary-chelek-Osh</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/osh.jpg" alt="">
                </div>
                <p>
                  Osh is the second largest city in Kyrgyzstan after Bishkek with a population of
                  about 270 thousand. The main attraction of the city is Mount Takhtisuleiman (Throne of Solomon) in which
                  there is an ancient museum. In
                </p>

              </div>
            </li>
          </ul>

        </section>
      </body>

      </html>
    </section>

    <section class="section__rights">
      <div class="fixed__menu">
        <h1 style="color:#fff !important; font-weight: 100;">PRICE-LIST</h1>
        <table class="price__table">
          <tr>
            <th colspan="5"> prices in dollars</th>
          </tr>
          <tr>
            <th>Number of tourists</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <th>Price per person</th>
            <td>1800$</td>
            <td>950$</td>
            <td>600$</td>
            <td>500$</td>
          </tr>
        </table>
        <span>
        </span>
        <p><i class="blya">√</i><b>INCLUDED:</b> <br> Car with driver, driver's meals and accommodation</p>
        <p><i>Х</i><b>NOT INCLUDED:</b> <br> Meals, Accommodation, Entrance tickets</p>
        <!-- <input type="text" placeholder="Сколько ночей" id="nigts">
        <input type="text" placeholder="Сколько километров" id="km">
        <button onclick="calc()" >Расчитать</button>
        <p id="resultcalc"></p> -->

      </div>
    </section>
  </main>
  <footer>
    <div class="hui">
      <video class="bac__foooter" src="../components/bac__footer.mp4" autoplay muted loop></video>
      <div class="footer">
        <div class="footer__items">
          <img src="../components/parmir__logo.png" alt="" class="footer__logo">
        </div>
        <div class="footer__items">
          <h3>FOLLOW  <br> US:</h3>
          <img src="../icons/free-icon-instagram-2111463.png" alt="" class="sub-icons">
          <img src="../icons/free-icon-youtube-1384060.png" alt="" class="sub-icons">
          <img src="../icons/free-icon-facebook-733547.png" alt="" class="sub-icons">
          <img src="../icons/free-icon-twitter-3670211.png" alt="" class="sub-icons">
        </div>

        <div class="footer__items">
          <a href="./main.html">
            <h3>Home</h3>
          </a>
          <a href="./kyrgyzstan.html">
            <h3>Tours</h3>
          </a>
          <a href="./contact.html">
            <h3>Contacts</h3>
          </a>
          <a href="./gallery.html">
            <h3>Gallery</h3>
          </a>
        </div>
      </div>
      <div class="copyright">
        <a href="#" id="rec2">© Website made <span><strong>It</strong><b>Park </b></span> Academy</a>
      </div>
    </div>

  </footer>

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script> -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let acc = new Accordion('.accordion__list', {
        duration: 700,
        elementClass: 'accordion__item',
        triggerClass: 'accordion__top',
        panelClass: 'accordion__bottom',
        showMultiple: false,

        collapse: true
      });
    })
  </script>
  <script>
    document.querySelector('.accc').addEventListener('click', () => {
      document.querySelector('.fixed__menu').classList.remove('prices')
      document.querySelector('.price').classList.remove('befores')
    })

  </script>
  <script src="../parralax.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>

</html>
</body>

</html>