<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kyrgyzstan</title>
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="./tours.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="shortcut icon" href="../components/parmir__logo.png">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" -->
  <!-- integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://unpkg.com/accordion-js@3.3.0/dist/accordion.min.css">
  <title>accardion</title>
  <script src="https://unpkg.com/accordion-js@3.3.0/dist/accordion.min.js" defer></script>

  <script src="../burger.js" defer></script>
  <script defer src="../calc.js"></script>

</head>

<body>

  <header  id="result" class="header header__scroll">
      
    <div class="before">
        <a href="../main.html" class="bef__parent" style="transform: skew(40deg);"  ><img src="../components/parmir__logo.png" alt="" class="header__logo"></a>
    </div>
<!-- <img class="planeta" src="./components/image.psd.png" height="200px" alt=""> -->
<button class="burger__btn" id="burger">
    <span class="one"></span><span class="two"></span><span class="three"></span>
</button>
<nav class="header__nav">
  <a href="../main.html" class="header-menu">Home</a>
  <a href="../kyrgyzstan.html " class="header-menu active-menu">Tours</a>

    <a href="../contact.html" class="header-menu">Contacts</a>
    <a href="../gallery.html" class="header-menu">Gallery</a>
    <a href="#" id="rec">Website made by  <span><strong>It</strong><b>Park </b></span> Academy</a>

</nav>
</header>
  <div class="nice">
    <img src="../components/gal.png" alt="nice">
    <h1>Done!</h1>
  </div>
  <a class="fix__animation" id="fix">get in touch</a>
  <div class="fix__menu">
    <button id="close__fix"><span></span><span></span></button>
    <form class="fix__form">
      <input type="text" name="" placeholder="Введите свое имя" id="">
      <input type="text" name="" placeholder="Введите свой тел. номер" id="">
      <input type="text" name="" placeholder="Введите свой email" id="">
      <textarea name="" id="" cols="30" placeholder="Напишите что нибудь" rows="6"></textarea>
      <input id="adds" class="form__btn" type="button" value="ОТПРАВИТЬ">
      <!-- <img src="./icons/tyre.png" alt=""> -->
    </form>
    <!-- <h3>Оставте свои данные</h3> -->
    <video class="bacg__vid" src="../components/bacg.mp4" autoplay loop muted></video>

  </div>
  <h1 class="zagolovok__marsh">7 days in Kyrgyzstan</h1>

  <main class="mainskiy">
    <button class="price" id="price"></button>

    <section class="accc">





      <body>
        <section class="accordion">
          <ul class="accordion__list" id="accordion">
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 1. To Arslanbob Village</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/ars.jpg" alt="">
                </div>
                <p>
                  <b class="km">Driving distance/time: 185km </b>
                  <br>
                  Transfer to Arslanbob village famous for its largest wall-nut forest in Central Asia. Accommodation in
                  a cozy guesthouse. After lunch, we walk around the village to see the local culture. People claim that
                  their ancestors go back to Alexander Great who once visited this village and brought some wall-nuts to
                  his land later became Greece Nuts. Hike up the waterfall and further the panorama hill to see the
                  scenic view of the village. Home-cooked dinner.
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 2. To Kazarman village over Kaldama Pass </h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/kaldama.jpg" alt="">
                </div>
                <p>
                  <b class="km">Driving distance/time: 240 km, 5 hours</b>
                  <br>
                  Transfer to Kazarman village. Nice drive on an unpaved road over Kaldama Pass standing at 3000 meters.
                  Bushes along the road in mountain slopes delight your senses. Amazing mountain ranges open up on top
                  of the pass. Descend the pass. Arrival in Kazarman village and accommodation in CBT guesthouse. After
                  lunch, walk around the village and enjoy the view of this remote village located on the riverbank of
                  the country’s largest river Naryn.

            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 3. To Song Kol Lake over Moldo Ashuu Pass</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/ashuu.jpg" alt="">
                </div>
                <p>
                  <b class="km">Driving distance/time: 220 km, 6 hours</b>
                  <br>
                  Transfer to Songkol Lake. Enjoy driving along the overflowing river Naryn, the largest river in
                  Kyrgyzstan. Pass by yurts of shepherds while driving over passes. After a few hours, we drive up Moldo
                  Ashuu Pass standing at 3220 meters through a gorgeous road with evergreen trees decorating the
                  mountains. A magnificent view of alpine lake Song Kol opens up on the pass with craggy mountains
                  surrounding the lake. Enjoy driving on the southern shore of the lake with scattered yurts of nomads
                  all the way to your yurt. Overnight and dinner in a yurt.
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 4. Song Kol Lake to Issyk Kul Lake </h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/sonkul.jpg  " alt="">
                </div>
                <p>
                  <b class="km">Driving distance/time: 225 km / 5 hours</b>
                  <br>
                  Breakfast. Take a 2-3 hour walk or horse riding around this alpine lake to get the best view of the
                  area and see shepherds busy with morning activities. Lunch in a yurt. After lunch, we drive to Kochkor
                  city over Kalmak Ashuu Pass. You can spot some grazing yaks around the pass. A short stop in Kohckor
                  to visit souvenir shops to see locally handmade rugs and carpets. Then we drive to our camp on the
                  southern shore of Issyk Kul Lake. Arrival at Bel Tam yurt camp and be accommodated. Walk up to the
                  shore of the lake and enjoy swimming in this clear lake. Dinner in a yurt camp.
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 5. To Jeti Oguz gorge through Fairy Tale Canyon and Barskon waterfall </h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/skazka.jpg" alt="">
                </div>
                <p>
                  <b class="km">Driving distance/time: 150 km / 4 hours</b>
                  <br>
                  Early morning after breakfast, we will drive to a nearby hillside where you will see the Eagle hunting
                  masterclass with a local hunter. Then we continue driving to Kok Jaiyk summer camp at Jeti Oguz
                  valley. On the way, we take a side trip to visit Fairy Tale Canyon – fantastic rocks with different
                  shapes of amazing colors. Take photos by walking around. Then we drive to one of the best waterfalls
                  in Kyrgyzstan called Barskon, there are three waterfalls that you can admire. Take an easy hike around
                  these waterfalls with lush evergreen trees. Arrival in Kok Jaiyk valley and accommodation in a Yurt
                  camp.
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 6. Radial day hike towards the Oguz Bashy Peak – Karakol city</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/oguz.jpg" alt="">
                </div>
                <p>
                  <b class="km">Trekking distance/time: 15km / 5-6 hours</b>
                  <br>
                  Today we will take an easy hike to see the astonishingly beautiful panoramic view of Oguz Bashy peak
                  which is located in the heart of Tian-Shian Mountain Range. We leave the yurt camp early in the
                  morning right after we eat breakfast. From the trailhead, we follow the roadbed along the tumbling
                  Jety Oguz river. Stunning white mountain peaks slowly begin to appear as we gain elevation. Reach the
                  viewpoint and enjoy the beautiful scenery, and pose for stunning photos. Have a lunch. After lunch, we
                  hike back to the camp. Meet the awaited driver, get in the car and transfer to Karakol city, in 1 hr.
                  Have dinner in a fancy local restaurant and overnight in a hotel.
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>День 7. В город Бишкек</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/Burana.jpg" alt="">
                </div>
                <p>
                  <b class="km">Day 7. To Bishkek city</b>
                  <br>
                  Drive to Bishkek city. On the way, visit the open-air petroglyphs in Cholpon Ata and the architectural
                  complex of Burana Tower which dates back to the 10-11th century, an important site on the Great Silk
                  Road. Arrival in Bishkek. Get dropped off at your hotel. End of the tour.
            </li>
          </ul>

        </section>
      </body>

      </html>
    </section>

    <section class="section__rights">
      <div class="fixed__menu">
        <h1 style="color:#fff !important; font-weight: 100;">PRICE-LIST</h1>
        <table class="price__table">
          <tr>
            <th colspan="5"> prices in dollars</th>
          </tr>
          <tr>
            <th>Number of tourists</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <th>Price per person</th>
            <td>1800$</td>
            <td>950$</td>
            <td>600$</td>
            <td>500$</td>
          </tr>
        </table>
        <span>
        </span>
        <p><i class="blya">√</i><b>INCLUDED:</b> <br> Car with driver, driver's meals and accommodation</p>
        <p><i>Х</i><b>NOT INCLUDED:</b> <br> Meals, Accommodation, Entrance tickets</p>
        <!-- <input type="text" placeholder="Сколько ночей" id="nigts">
        <input type="text" placeholder="Сколько километров" id="km">
        <button onclick="calc()" >Расчитать</button>
        <p id="resultcalc"></p> -->

      </div>
    </section>
  </main>
  <footer>
    <div class="hui">
      <video class="bac__foooter" src="../components/bac__footer.mp4" autoplay muted loop></video>
      <div class="footer">
        <div class="footer__items">
          <img src="../components/parmir__logo.png" alt="" class="footer__logo">
        </div>
        <div class="footer__items">
          <h3>FOLLOW <br> US:</h3>
          <img src="../icons/free-icon-instagram-2111463.png" alt="" class="sub-icons">
          <img src="../icons/free-icon-youtube-1384060.png" alt="" class="sub-icons">
          <img src="../icons/free-icon-facebook-733547.png" alt="" class="sub-icons">
          <img src="../icons/free-icon-twitter-3670211.png" alt="" class="sub-icons">
        </div>
        <div class="footer__items">
          <a href="./main.html">
            <h3>Home</h3>
          </a>
          <a href="./kyrgyzstan.html">
            <h3>Tours</h3>
          </a>
          <a href="./contact.html">
            <h3>Contacts</h3>
          </a>
          <a href="./gallery.html">
            <h3>Gallery</h3>
          </a>
        </div>
      </div>
      <div class="copyright">
        <a href="#" id="rec2">© Website made <span><strong>It</strong><b>Park </b></span> Academy </a>
      </div>
    </div>

  </footer>

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script> -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let acc = new Accordion('.accordion__list', {
        duration: 700,
        elementClass: 'accordion__item',
        triggerClass: 'accordion__top',
        panelClass: 'accordion__bottom',
        showMultiple: false,

        collapse: true
      });
    })
  </script>
  <script>
    document.querySelector('.accc').addEventListener('click', () => {
      document.querySelector('.fixed__menu').classList.remove('prices')
      document.querySelector('.price').classList.remove('befores')
    })

  </script>
  <script src="../parralax.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>

</html>
</body>

</html>