<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kyrgyzstan</title>
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="./tours.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="shortcut icon" href="../components/parmir__logo.png">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" -->
  <!-- integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://unpkg.com/accordion-js@3.3.0/dist/accordion.min.css">
  <title>accardion</title>
  <script src="https://unpkg.com/accordion-js@3.3.0/dist/accordion.min.js" defer></script>

  <script src="../burger.js" defer></script>
  <script defer src="../calc.js"></script>

</head>

<body>

  <header  id="result" class="header header__scroll">
      
    <div class="before">
        <a href="../main.html" class="bef__parent" style="transform: skew(40deg);"  ><img src="../components/parmir__logo.png" alt="" class="header__logo"></a>
    </div>
<!-- <img class="planeta" src="./components/image.psd.png" height="200px" alt=""> -->
<button class="burger__btn" id="burger">
    <span class="one"></span><span class="two"></span><span class="three"></span>
</button>
<nav class="header__nav">
  <a href="../main.html" class="header-menu">Home</a>
  <a href="../kyrgyzstan.html " class="header-menu active-menu">Tours</a>

    <a href="../contact.html" class="header-menu">Contacts</a>
    <a href="../gallery.html" class="header-menu">Gallery</a>
    <a href="#" id="rec">Website made by  <span><strong>It</strong><b>Park </b></span> Academy</a>

</nav>
</header>
  <div class="nice">
    <img src="../components/gal.png" alt="nice">
    <h1>Done!</h1>
  </div>
  <a class="fix__animation" id="fix">get in touch</a>
  <div class="fix__menu">
    <button id="close__fix"><span></span><span></span></button>
    <form class="fix__form">
      <input type="text" name="" placeholder="Введите свое имя" id="">
      <input type="text" name="" placeholder="Введите свой тел. номер" id="">
      <input type="text" name="" placeholder="Введите свой email" id="">
      <textarea name="" id="" cols="30" placeholder="Напишите что нибудь" rows="6"></textarea>
      <input id="adds" class="form__btn" type="button" value="ОТПРАВИТЬ">
      <!-- <img src="./icons/tyre.png" alt=""> -->
    </form>
    <!-- <h3>Оставте свои данные</h3> -->
    <video class="bacg__vid" src="../components/bacg.mp4" autoplay loop muted></video>

  </div>
  <h1 class="zagolovok__marsh"> Bishkek - Dushanbe along the Pamir Highway</h1>

  <main class="mainskiy">
    <button id="price" class="price"></button>

    <section class="accc">





      <body>
        <section class="accordion">
          <ul class="accordion__list" id="accordion">
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 1: Bishkek – Burana Tower – Song Kul Lake</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/Burana.jpg" alt="">
                </div>
                <p>
                  <b class="km">travel time 5 hour</b>
                  <br>
                  Travel to Song Kul lake. Take a detour to visit 12th-century architectural sight Burana Tower.
                </p>
                <div class="image__parent">
                  <img src="../random/kalmak-ashuu.jpg" alt="">
                </div>
                <p>
                  An
                  exotic view of alpine lake Song Kul opens up when you reach Kalmak Ashuu Pass. Drive down to the shore
                  of the lake and be accommodated in a yurt. Walk around the lake.
                </p>

            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 2: Song Kul lake – Naryn City – Tash Rabat</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/sonkul.jpg" alt="">
                </div>
                <p>
                  <b class="km">travel timeL: 6 hour</b>
                  <br>
                  Drive south of the lake to reach Moldo Ashuu pass. Nice drive on switchbacks. Enjoy the beauty of
                  colorful mountains while driving to Naryn city. Lunch break in Naryn. Arrive in Tash Rabat Silk Road
                  caravanserai. We take a tour to this historical site. Overnight and dinner in a yurt.
                </p>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 3: Tash Rabat – Naryn city – Kazarman village</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../components/Таш-Рабат.JPG" alt="">
                </div>
                <p>
                  <b class="km">travel timeL: 7 hour</b>
                  <br>
                  Head on to Kazarman village. Enjoy driving along the overflowing river Naryn, the largest river in
                  Kyrgyzstan. Pass by yurts of shepherds while driving over passes. Arrival and accommodation in a
                  homestay.
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 4: Kazarman village – Kaldama Pass – Osh city</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/kaldama.jpg" alt="">
                </div>
                <p>
                  <b class="km">travel timeL:6 hour</b>
                  <br>
                  The highlight of the day is Kaldama Pass. Amazing mountain ranges open up on top of the pass. Descend
                  down the pass. Driving through dense bushes covering the road and mountain slopes that delights your
                  senses. Arrival in Osh city and accommodation in a hotel.
                </p>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 5: Osh city – Sary Mogol village – Lenin Peak Base Camp</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/lenina.jpg" alt="">
                </div>
                <p>
                  <b class="km">travel timeL:5 hour</b>
                  <br>
                  Breakfast. Drive to Sarymogol village, 4hr. A nice valley opens up when you reach Taldyck pass (3600
                  meters) with green pastures and yaks grazing around. Arrive in Sarymogol village and cross the bridge
                  to get to the yurt camp at Tulparkol Lake (3500 m) next to the base camp of Lenin Peak, 1hr. Enjoy the
                  beauty of the snowcapped mountains of Lenin Peak (7134 m). Walk around the lake. Overnight & dinner in
                  yurt.
                </p>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 6: Sarymogol village – Karakul Lake in Tajikistan </h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/Karakultr.jpg" alt="">
                </div>
                <p>
                  <b class="km">travel timeL:5 hour</b>
                  <br>
                  Breakfast. Drive back to the main road and further up to the checkpoint, 2hr. Cross the Kyrgyz border
                  and drive on no man’s land about 20 km to get to Tajik border point. Enjoy driving over Kyzylart Pass
                  (4280 m) with glaciers at the roadside. Cross Tajik border and head up to Karakul Lake, 1hr. Totally
                  different landscapes and relief open up in front of you. Have lunch in a guesthouse at Karakul lake. A
                  short walk in the village. Be accommodated in a guesthouse.
                </p>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 7: Karakul lake – Murgab village – Observatory Hill – Alichur village </h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <!-- <div class="image__parent">
                  <img src="../random/Karakultr.jpg" alt="">
                </div> -->
                <p>
                  <b class="km">travel timeL:5 hour</b>
                  <br>
                  Travel goes on to Murgab via the highest pass Akbaital (4655 m) you will ever do in Tajikistan, 3hr.
                  Take photos of glaciers on the pass. Lunch in Murgab village. After lunch, we head on to Alichur
                  village. On the way, we take a side trip to the so-called Observatory hill. You will see a nice view
                  of Muztak Ata peak of China on top of the hill if no clouds on the sky. Down the hill, there is a
                  soviet truck full of skulls of Marco Polo sheep inside. Once upon a time, it was a hunting camp. Back
                  to the main road and drive to Alichur village. Overnight and dinner in a guesthouse.
                </p>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 8: Bulunkul – Panorama Ridge hike at Kargush pass – Langar</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/bukunkul.jpg" alt="">
                </div>
                <p>
                  <b class="km">travel time: 5 hour</b>
                  <br>
                  Breakfast. Take a detour to visit Bulunkul and the Yashylkul lakes with nice hot springs.
                </p>
                <div class="image__parent">
                  <img src="../random/gundukush.jpg" alt="">
                </div>
                <p>
                  Back to the main road and head up to the Kargush Pass, 1hr. Arrive on the pass and start the hike to
                  Panorama Ridge at 4800 meters. It gives you a chance to view a snowy Afghan Wakhan and to spot the
                  stunning mountain scenery of Great Pamir on the Afghan border. While walking up, two small lakes
                  behind you at the roadside open up to cheer you. Break for lunch at the top of Panorama Ridge and walk
                  back to your car on the south side of the ridge. Drive down to the Afghanistan border for another
                  checkpoint to check your GBAO permit. Road follows the river Pamir all the way to the Wakhan corridor,
                  with the chance to admire the Big Pamir of Afghanistan with nomadic Afghan Kyrgyz caravans. Great
                  rugged Hindu Kush mountain ranges of Pakistan welcome you right before entering Wakhan valley.
                  Overnight and dinner in a friendly homestay in Langar village.
                </p>
            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 9: Trekking to Engels Peak in Wakhan Valley</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/angels.jpeg" alt="">
                </div>
                <p>
                  <b class="km">travel time: 8 - 9 hours</b>
                  <br>
                  Do a challenging day hike (5 hours up and 4 hours down) or a relaxing overnight hike with a great
                  camping spot at a high elevation. It is an easy walk with the only pass before the meadow at 4000
                  meters even though the distance could be long. Your trek starts at Zong village by driving up to the
                  north end of the village. Turn right to take an obvious trail along the manmade water channel joining
                  the stream coming from the foot of Engels peak. Walk along the channel until you reach the end of the
                  channel in a gorge and follow the stream to get to the green lush meadow valley. While walking up,
                  enjoy the towering peaks of the magnificent Hindu Kush Mountain Range of Pakistan and lush valleys of
                  the Panj river. Arrive at the meadow and break for the lunch here or on the shore of a small lake
                  beyond the meadow with the stunning view of Engels Peak. Back to your car and drive to Yamg village
                  for overnight.
                </p>

            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 10: Yamg village – Yamchun fortress & hot springs – Ishkashim village – Khorog city</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/krepost.jpg" alt="">
                </div>
                <p>
                  <b class="km">travel time: hour</b>
                  <br>
                  Breakfast. Right after you leave your guesthouse, we do a detour on the way to admire the 12th century
                  Yamchun Fortress rising from a platform of natural rock. Walk up to the edge of the fort and you will
                  have an amazing view of Wakhan valley. Further up the hillside are located the hot springs of Bibi
                  Fatima, with its crystal waters rich in minerals. Another fortress Khaaka comes up along the way at
                  Namadgut village when you get closer to Ishkashim village. It is worth a 10-minute stop. Continue to
                  drive to Khorog city. Afternoon, visit the interesting Regional Museum and Central Park of Khorog
                  city. Evening hike in a Botanical Garden that has various plants and trees to explore. Dinner at a
                  café. Night in a hotel.
                </p>

            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 11: Bartang Valley – Jizeu Valley – lakes & wildlife community</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/bartang.jpg" alt="">
                </div>
                <p>
                  <b class="km">travel time: 5 hour</b>
                  <br>
                  Drive to Bartang valley, 3-hour. Arrive at the starting point and cross the bridge off the road. Walk
                  along the stream up to the seasonally over-flowing, tree-lined river lakes in the village, 2hrs. Be
                  accommodated in one of the guesthouses. The first lake is at the beginning of the village and the
                  second one is about 2,3km beyond the last guesthouse. And 10 km beyond the second lake, there are two
                  more lakes and a horizon of high peaks that need one more overnight to do it. Bring your food or
                  things you need since there is no shop and electricity. You can use spring waters if it is Ok for you.
                </p>

            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3> Day 12: Bartang Valley to Kalaikhum village</h3>
                  <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/kalyahum.jpg" alt="">
                </div>
                <p>
                  <b class="km">travel time: 5 hour</b>
                  <br>
                  Breakfast. Walk back to your car, 2-hour. Meet your driver and travel to Darvoz district, 4hrs. The
                  gorgeous road goes along the river up to the Vanj valley where the road widens up. The road continues
                  along the Afghan border up to Kalaikhum village with picturesque scenery. Arrive in Kalaikhum village
                  and be accommodated in a guesthouse.
                </p>

            </li>
            <li class="accordion__item ac">
              <div class="accordion__top">
                <h3>Day 13: Kalaikhum village to Dushanbe city</h3>
                <button class="accordion__btn">+</button>
              </div>
              <div class="accordion__bottom ac-panel">
                <div class="image__parent">
                  <img src="../random/hulbuk.jpg" alt="">
                </div>
                <p>
                  <b class="km">travel time: 6 hour </b>
                  <br>
                  After breakfast, drive to Dushanbe along the Pang river with amazing views and numerous local
                  villages. Deep rocky valleys and gorgeous mountains accompany you up to the Shurobod Pass before
                  Kuliab village. Lunch in a Chaikana (local cafes). Visit 11th-century Hulbuk Palace on the way and
                  enjoy the views of the world’s highest hydropower station Nurek in a distance. Arrival in Dushanbe.
                  Accommodation in your hotel.
                </p>

            </li>

          </ul>

        </section>
      </body>

      </html>
    </section>

    <section class="section__rights">
      <div class="fixed__menu">
        <h1 style="color:#fff !important; font-weight: 100;">PRICE-LIST</h1>
        <table class="price__table">
          <tr>
            <th colspan="5"> prices in dollars</th>
          </tr>
          <tr>
            <th>Number of tourists</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <th>Price per person</th>
            <td>2600$</td>
            <td>1300$</td>
            <td>870$</td>
            <td>650$</td>
          </tr>
        </table>
        <span>
        </span>
        <p><i class="blya">√</i><b>INCLUDED:</b> <br> Car with driver, driver's meals and accommodation</p>
        <p><i>Х</i><b>NOT INCLUDED:</b> <br> Meals, Accommodation, Entrance tickets</p>
        <!-- <input type="text" placeholder="Сколько ночей" id="nigts">
        <input type="text" placeholder="Сколько километров" id="km">
        <button onclick="calc()" >Расчитать</button>
        <p id="resultcalc"></p> -->

      </div>
    </section>
  </main>
  <footer>
    <div class="hui">
      <video class="bac__foooter" src="../components/bac__footer.mp4" autoplay muted loop></video>
      <div class="footer">
        <div class="footer__items">
          <img src="../components/parmir__logo.png" alt="" class="footer__logo">
        </div>
        <div class="footer__items">
          <h3>FOLLOW <br> US:</h3>
          <img src="../icons/free-icon-instagram-2111463.png" alt="" class="sub-icons">
          <img src="../icons/free-icon-youtube-1384060.png" alt="" class="sub-icons">
          <img src="../icons/free-icon-facebook-733547.png" alt="" class="sub-icons">
          <img src="../icons/free-icon-twitter-3670211.png" alt="" class="sub-icons">
        </div>

        <div class="footer__items">
          <a href="./main.html">
            <h3>Home</h3>
          </a>
          <a href="./kyrgyzstan.html">
            <h3>Tours</h3>
          </a>
          <a href="./contact.html">
            <h3>Contacts</h3>
          </a>
          <a href="./gallery.html">
            <h3>Gallery</h3>
          </a>
        </div>
      </div>
      <div class="copyright">
        <a href="#" id="rec2">© Website made <span><strong>It</strong><b>Park </b></span> Academy</a>
      </div>
    </div>

  </footer>

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script> -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let acc = new Accordion('.accordion__list', {
        duration: 700,
        elementClass: 'accordion__item',
        triggerClass: 'accordion__top',
        panelClass: 'accordion__bottom',
        showMultiple: false,

        collapse: true
      });
    })
  </script>
  <script>
    document.querySelector('.accc').addEventListener('click', () => {
      document.querySelector('.fixed__menu').classList.remove('prices')
      document.querySelector('.price').classList.remove('befores')
    })

  </script>
  <script src="../parralax.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>

</html>
</body>

</html>