<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kyrgyzstan</title>
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="./tours.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="shortcut icon" href="../components/parmir__logo.png">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" -->
  <!-- integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://unpkg.com/accordion-js@3.3.0/dist/accordion.min.css">
  <script src="https://unpkg.com/accordion-js@3.3.0/dist/accordion.min.js" defer></script>

  <script src="../burger.js" defer></script>
  <script defer src="../calc.js"></script>

</head>

<body>

  <header  id="result" class="header header__scroll">
      
    <div class="before">
        <a href="../main.html" class="bef__parent" style="transform: skew(40deg);"  ><img src="../components/parmir__logo.png" alt="" class="header__logo"></a>
    </div>
<!-- <img class="planeta" src="./components/image.psd.png" height="200px" alt=""> -->
<button class="burger__btn" id="burger">
    <span class="one"></span><span class="two"></span><span class="three"></span>
</button>
<nav class="header__nav">
  <a href="../main.html" class="header-menu">Home</a>
  <a href="../kyrgyzstan.html " class="header-menu active-menu">Tours</a>

    <a href="../contact.html" class="header-menu">Contacts</a>
    <a href="../gallery.html" class="header-menu">Gallery</a>
    <a href="#" id="rec">Website made by  <span><strong>It</strong><b>Park </b></span> Academy</a>

</nav>
</header>
  <div class="nice">
    <img src="../components/gal.png" alt="nice">
    <h1>Done!</h1>
  </div>
  <a class="fix__animation" id="fix">get in touch</a>
  <div class="fix__menu">
    <button id="close__fix"><span></span><span></span></button>
    <form class="fix__form">
      <input type="text" name="" placeholder="Введите свое имя" id="">
      <input type="text" name="" placeholder="Введите свой тел. номер" id="">
      <input type="text" name="" placeholder="Введите свой email" id="">
      <textarea name="" id="" cols="30" placeholder="Напишите что нибудь" rows="6"></textarea>
      <input id="adds" class="form__btn" type="button" value="ОТПРАВИТЬ">
      <!-- <img src="./icons/tyre.png" alt=""> -->
    </form>
    <!-- <h3>Оставте свои данные</h3> -->
    <video class="bacg__vid" src="../components/bacg.mp4" autoplay loop muted></video>

  </div>
  <h1 class="zagolovok__marsh">Khorog - Osh along the Pamir Highway</h1>

  <main class="mainskiy">
    <button class="price" id="price"></button>

    <section class="accc">






      <section class="accordion">
        <ul class="accordion__list" id="accordion">
          <li class="accordion__item ac">
            <div class="accordion__top">
              <h3>DAY 1: KHOROG CITY - ISHKASHIM VILLAGE - YAMCHUN FORTRESS & HOT SPRINGS - LANGAR VILLAGE</h3>
              <button class="accordion__btn">+</button>
            </div>
            <div class="accordion__bottom ac-panel">
              <div class="image__parent">
                <img src="../random/krepost.jpg" alt="">
              </div>
              <p>
                <b class="km">travel time 5 - 6 hours</b>
                <br>
                Breakfast. Visit fortress Khaaka on the way at Namadgut village right after leaving Ishkashim village.
                It is worth a 10 minutes stop. Take another detour on the way at Yamchun to admire the 12th century
                Yamchun Fortress rising from a platform of natural rock. Walk up to the edge of the fort and you will
                have an amazing view of Wakhan valley. Further up the hillside are located the hot springs of Bibi
                Fatima with its crystal waters rich in minerals. Walk back to your car and drive to Langar village.
              </p>
          </li>
          <li class="accordion__item ac">
            <div class="accordion__top">
              <h3>
                DAY 2: LANGAR VILLAGE - PANORAMA RIDGE TREK AT KARGUSH PASS – BULUNKUL & YASHILKUL LAKES – ALICHUR
                VILLAGE</h3>
              <button class="accordion__btn">+</button>
            </div>
            <div class="accordion__bottom ac-panel">
              <div class="image__parent">
                <img src="../random/kargush.jpg" alt="">
              </div>
              <p>
                <b class="km">travel time 3 - 4 hours</b>
                <br>
                Breakfast. Travel to Kargush pass, 2hrs. Road follows the river Pamir all the way to Kargush checkpoint
                with the chance to admire the Big Pamir of Afghanistan with nomadic Afghan Kyrgyz caravans. Arrival at
                the Kargush pass and start the 3-4 hrs trek to Panorama Ridge at 4800 meters. While walking up, two
                small lakes behind you at roadside open up to cheer you. Enjoy the stunning mountain scenery of Great
                Pamir on Afghan border on the top of pass. Walk back to your car. Take another side trip to see alpine
                lakes Bulunkul Yashilkul. Drive to Alichur village, 1 hr.
              </p>
          </li>
          <li class="accordion__item ac">
            <div class="accordion__top">
              <h3>
                DAY 3: ALICHUR VILLAGE - OBSERVATORY HILL - MURGAB VILLAGE - KARAKUL LAKE</h3>
              <button class="accordion__btn">+</button>
            </div>
            <div class="accordion__bottom ac-panel">
              <div class="image__parent">
                <img src="../random/Karakultr.jpg" alt="">
              </div>
              <p>
                <b class="km">travel time 6 - 7 hours</b>
                <br>
                Breakfast. We take a detour to Observatory Hill. You will see a nice view of Muztagh Ata peak of China
                on top of the hill if no clouds in the sky. Down the hill, there is a Soviet truck full of skulls of
                Marco Polo sheep inside. Once upon a time, it was a hunting camp. Back to the main road and go to Murgab
                village. Lunch in a local guesthouse or café. Travel goes on to Karakul lake with the highest pass
                Akbaital (4655 m) you will ever do in Tajikistan, 3hr. Take photos of glaciers on the pass. Arrival in
                Karakul lake. Overnight and dinner in a guesthouse.
              </p>
          </li>
          <li class="accordion__item ac">
            <div class="accordion__top">
              <h3>DAY 4: KARAKUL LAKE - SARYMOGOL VILLAGE – LENIN PEAK BASE CAMP</h3>
              <button class="accordion__btn">+</button>
            </div>
            <div class="accordion__bottom ac-panel">
              <div class="image__parent">
                <img src="../random/lenina.jpg" alt="">
              </div>
              <p>
                <b class="km">travel time 4 - 5 hours</b>
                <br>
                Breakfast. Drive to the checkpoint, 1hr. Cross the borders and head up to the Lenin Peak Base Camp via
                Sarymogol village, 3 hrs. Arrival in the yurt camp at the base camp and lunch in a yurt. Explore the
                snowcapped Lenin Peak in Pamir mountain range by taking a day hike from your yurt camp to the Traveler’s
                pass at 4130 meters, 3 hrs. Enjoy the beauty of glaciers while walking up to the pass. Rest at the top
                of the Traveler’s pass to gaze at glaciers tumbling off the massive peak. Back to your yurts, 2 hrs.
                Overnight and dinner in a yurt.
              </p>
          </li>
          <li class="accordion__item ac">
            <div class="accordion__top">
              <h3>DAY 5: LENIN PEAK BASE CAMP– SARYMOGOL VILLAGE - OSH CITY</h3>
              <button class="accordion__btn">+</button>
            </div>
            <div class="accordion__bottom ac-panel">
              <div class="image__parent">
                <img src="../components/osh.jpg" alt="">
              </div>
              <p>
                <b class="km">travel time 4 - 5 hours</b>
                <br>
                Breakfast. Drive to Osh city along the numerous Kyrgyz villages and shepherd’s yurts scattered in
                mountains slopes, 5 hrs. Arrival and be accommodated in your hotel.
              </p>
          </li>

        </ul>

      </section>

    </section>

    <section class="section__rights">
      <div class="fixed__menu">
        <h1 style="color:#fff !important; font-weight: 100;">PRICE-LIST</h1>
        <table class="price__table">
          <tr>
            <th colspan="5"> prices in dollars</th>
          </tr>
          <tr>
            <th>Number of tourists</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <th>Price per person</th>
            <td>1100$</td>
            <td>550$</td>
            <td>370$</td>
            <td>275$</td>
          </tr>
        </table>
        <span>
        </span>
        <p><i class="blya">√</i><b>INCLUDED:</b> <br> Car with driver, driver's meals and accommodation</p>
        <p><i>Х</i><b>NOT INCLUDED:</b> <br> Meals, Accommodation, Entrance tickets</p>
        <!-- <input type="text" placeholder="Сколько ночей" id="nigts">
        <input type="text" placeholder="Сколько километров" id="km">
        <button onclick="calc()" >Расчитать</button>
        <p id="resultcalc"></p> -->

      </div>
    </section>
  </main>
  <footer>
    <div class="hui">
      <video class="bac__foooter" src="../components/bac__footer.mp4" autoplay muted loop></video>
      <div class="footer">
        <div class="footer__items">
          <img src="../components/parmir__logo.png" alt="" class="footer__logo">
        </div>
        <div class="footer__items">
          <h3>FOLLOW <br> US:</h3>
          <img src="../icons/free-icon-instagram-2111463.png" alt="" class="sub-icons">
          <img src="../icons/free-icon-youtube-1384060.png" alt="" class="sub-icons">
          <img src="../icons/free-icon-facebook-733547.png" alt="" class="sub-icons">
          <img src="../icons/free-icon-twitter-3670211.png" alt="" class="sub-icons">
        </div>

        <div class="footer__items">
          <a href="./main.html">
            <h3>Home</h3>
          </a>
          <a href="./kyrgyzstan.html">
            <h3>Tours</h3>
          </a>
          <a href="./contact.html">
            <h3>Contacts</h3>
          </a>
          <a href="./gallery.html">
            <h3>Gallery</h3>
          </a>
        </div>
      </div>
      <div class="copyright">
        <a href="#" id="rec2">© Website made <span><strong>It</strong><b>Park </b></span>Academy </a>
      </div>
    </div>

  </footer>

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script> -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let acc = new Accordion('.accordion__list', {
        duration: 700,
        elementClass: 'accordion__item',
        triggerClass: 'accordion__top',
        panelClass: 'accordion__bottom',
        showMultiple: false,

        collapse: true
      });
    })
  </script>
  <script>
    document.querySelector('.accc').addEventListener('click', () => {
      document.querySelector('.fixed__menu').classList.remove('prices')
      document.querySelector('.price').classList.remove('befores')
    })

  </script>
  <script src="../parralax.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>

</html>
</body>

</html>