{% load static %}
<footer>
    <div class="hui">
        <video class="bac__foooter" src="{{setting.footer_bg.url}}" autoplay muted loop></video>
        <div class="footer">
            <div class="footer__items">
                <img src="{% static 'components/parmir__logo.png'%}" alt="" class="footer__logo">
            </div>
            <div class="footer__items">
                <h3>FOLLOW <br>US:</h3>
                <a href=""><img src="{% static 'icons/free-icon-instagram-2111463.png'%}" alt="" class="sub-icons"></a>
                <a href=""><img src="{% static 'icons/free-icon-youtube-1384060.png'%}" alt="" class="sub-icons"></a>
                <a href=""><img src="{% static 'icons/free-icon-facebook-733547.png'%}" alt="" class="sub-icons"></a>
                <a href=""><img src="{% static 'icons/free-icon-twitter-3670211.png'%}" alt="" class="sub-icons"></a>
                <a href="https://wa.me/+996999856666"><img src="{% static 'icons/apple-touch-icon.png'%}" alt="" class="sub-icons"></a>
            </div>
            <div class="footer__items">
                <a href="./main.html">
                    <h3>Home</h3>
                </a>
                <a href="./kyrgyzstan.html">
                    <h3>Tours</h3>
                </a>
                <a href="./contact.html">
                    <h3>Contacts</h3>
                </a>
                <a href="./gallery.html">
                    <h3>Gallery</h3>
                </a>
            </div>
        </div>
    </div>

</footer>
<div class="copyright" style="left: 0; bottom:0;margin-top: -44px !important;">
    <a href="#" id="rec2">© Website made by <span><strong>It</strong><b>Park </b></span>Academy </a>
</div>