{% load static %}
<header id="result" class="header header__scroll ">

    <div class="before">
        <a href="{%url "index"%}" class="bef__parent" style="transform: skew(40deg);"><img
                src="{% static 'components/parmir__logo.png'%}" alt="" class="header__logo"></a>
    </div>
    <!-- <img class="planeta" src="{% static 'components/image.psd.png'%}" height="200px" alt=""> -->
    <button class="burger__btn" id="burger">
        <span class="one"></span><span class="two"></span><span class="three"></span>
    </button>
    <nav class="header__nav">
        <a href="{%url "index"%}" class="header-menu">Home</a>
        <a href="{% url 'tours' %}" class="header-menu">Tours</a>

        <a href="{% url 'contact' %}" class="header-menu">Contacts</a>
        <a href="{% url 'gallery' %}" class="header-menu">Gallery</a>
        <a href="#" id="rec">Website made by<span><strong>It</strong><b>Park </b></span> Academy</a>

    </nav>
</header>
